body {
	font-family: "Ubuntu", sans-serif;
}

h1 {
	text-align: center;
	margin: 20px 0;
	text-transform: uppercase;
	color: #056fc5;
}

h2 {
	text-align: center;
	color: #056fc5;
}

h3 {
	text-align: center;
	color: #056fc5;
	font-weight: 400;
}
h4 {
	text-align: center;
	color: #056fc5;
	font-weight: 300;
}

h5 {
	text-align: center;
	color: #056fc5;
}
ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
}

li {
	text-align: center;
}

.container {
	display: block;
	margin: 10px auto;
	max-width: 80%;
}

.app-container {
	border: 2px solid #056fc5;
	border-radius: 15px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 50px;
	margin-top: 20px;
}

#city-input {
	border: 2px solid #056fc5;
}
.button {
	font-weight: 600;
	color: #fff;
	background-color: #056fc5;
	transition: all 200ms ease-in-out;
	border: 3px solid #056fc5;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.button:hover {
	color: #056fc5;
	background-color: #fff;
	cursor: pointer;
}

#weather-conditions {
	color: #056fc5;
}

.temperatures-container {
	text-align: center;
}

.current-temp-image {
	width: 180px;
	border: px solid #056fc5;
}

.current-container {
	text-align: center;
}

.weekday-temp-image {
	width: 50px;
	display: block;
	margin: 0 auto;
}

.social-logos-container {
	margin-bottom: 30px;
}

.social-logo {
	width: 50px;
	margin: 0px 20px;
}
