body {
	font-family: "Ubuntu", sans-serif;
	background: radial-gradient(
		circle at 10% 20%,
		rgb(239, 246, 249) 0%,
		rgb(206, 239, 253) 90%
	);
}

h1 {
	text-align: center;
	margin: 20px 0;
	text-transform: uppercase;
	color: #056fc5;
}

h2 {
	text-align: center;
	color: #056fc5;
}

h3 {
	text-align: center;
	color: #056fc5;
	font-weight: 300;
}

h5 {
	text-align: center;
	color: #056fc5;
}
ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
}

li {
	text-align: center;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 85%;
}

.app-container {
	border: 4px solid #056fc5;
	border-radius: 15px;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
	margin-bottom: 100px;
}

#city-input {
	border: 3px solid #056fc5;
}
.button {
	font-weight: 600;
	color: #fff;
	background-color: #056fc5;
	transition: all 200ms ease-in-out;
	border: 3px solid #056fc5;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.button:hover {
	color: #056fc5;
	background-color: #fff;
	cursor: pointer;
}

.temperatures-container {
	text-align: center;
}

.current-temp-image {
	width: 180px;
	border: px solid #056fc5;
}

.current-container {
	text-align: center;
}

.weekday-temp-image {
	width: 50px;
	display: block;
	margin: 0 auto;
}
